style.css
/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e5c9ce;
    color: #46121a;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #723c55;
    color: #300707;
}

#projects {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #311337;
    color: #433542;
}
